.attempted-container {

    width: 100%;

    min-height: 80vh;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 40px;

}



.attempted-card {

    width: 90%;

    max-width: 700px;

    background: rgba(0,0,0,0.65);

    border: 2px solid #ff00cc;

    border-radius: 25px;

    padding: 50px;

    text-align: center;

    box-shadow: 0 0 25px #ff00cc;

}



.attempted-card h1 {

    color: white;

    font-size: 3.5rem;

    margin-bottom: 20px;

}



.attempted-card p {

    color: white;

    font-size: 1.5rem;

    margin-bottom: 40px;

}



.attempted-card span {

    color: #ff00cc;

    font-weight: bold;

}



.dashboard-btn {

    background: linear-gradient(
        45deg,
        #ff00cc,
        #ff4de1
    );

    color: white;

    text-decoration: none;

    padding: 15px 30px;

    border-radius: 12px;

    font-weight: bold;

    transition: 0.3s;

}



.dashboard-btn:hover {

    transform: scale(1.05);

    box-shadow: 0 0 20px #ff00cc;

}