{% extends "quizApp/base.html" %}
{% load static %}
{% block content %}
<div class="login-container">
    <div class="card neon-card login-card">
        <h2 class="logo-title">Questify</h2>
        <h3 style="margin-bottom: 20px;">Create Account</h3>

        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required style="margin-top: 15px;">
            <input type="password" name="password" placeholder="Password" required style = "margin-top: 15px;">
            <div class="login-actions">
                <select name="role" required>
                    <option value="" disabled selected>Select Role</option>
                    <option value="Student">Student</option>
                    <option value="Instructor">Instructor</option>
                </select>
                <button type="submit" class="start-btn">Register</button>
            </div>
        </form>

        <p class="register-text">Already have an account?<span>Login</span></p>
    </div>
</div>
{% endblock %}