{% extends 'quizApp/base.html' %}
{% block content %}
<div class="dashboard-container">
    <h1 class="title">Student Dashboard</h1>
    <div class="login-container" style="min-height: auto;">
        <div class="card neon-card login-card" style="width: 400px;">
            <div class="icon">📝</div>
            <h3>Join a Quiz</h3>
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="quiz_code" placeholder="Enter 6-digit Code" required maxlength="6">
                <button type="submit" class="start-btn" style="margin-top: 15px;">Start Quiz</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}